<div class="container">
  <h1>New Task</h1>

  <%= simple_form_for [ @room, @task ] do |f| %>
    <%= f.input :name %>
    <%= f.input :number %>
    <%= f.input :frequency, collection: ['daily', 'weekly', 'monthly'] %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>

  <%= link_to 'Show', @room %> |
  <%= link_to 'Back', room_path(@room) %>
</div>