<div class="container">
    <h1>Editing Room</h1>
    <%= simple_form_for @room do |f| %>
        <%= f.input :name %>
        <%= f.button :submit %>
        <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
    <% end %>
    <%= link_to 'Show', @room %> |
    <%= link_to 'Back', rooms_path %>
</div>
