<div class="contain">
  <div class="main">
    <p id="notice"><%= notice %></p>
    <h1><%= current_user.name %>'s Schedule</h1>

    <%= month_calendar events: @calendar_tasks do |day, tasks| %>
    <div><%= day.strftime("%d") %></div>
    <% tasks.each do |task| %>
        <%= link_to task.name %>
      <% end %>
    <% end %>
    
    <div id="new-room">
      <% if policy(Room).create? %>
      <%= link_to 'Add Room/Area', new_room_path, remote: true %>
      <% end %>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"><p>Cleaning Areas</p></th>
          <th scope="col"><p>No. of Tasks</p></th>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
          <tr>
          <% if policy(room).show? %>
            <td scope="row"><%= link_to room.name.capitalize, room%></td>
            <td scope="row"><%= room.tasks.count%></td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <% if @todays_tasks.length > 0 %>
      <% @todays_tasks.each do |t| %> 
        <h3>Today's to-do</h3>
        <ul class="task-list">
          <li><%= t.name %></li>
        </ul>
      <% end %>
    <% else %>
      <p>Create new rooms/areas and schedule tasks</p>
    <% end %>
  </div>
</div>