<div class="container">

  <p id="notice"><%= notice %></p>

  <h1><%= current_user.name %>'s Schedule</h1>
  
  <ul>
    <% @todays_tasks.each do |t| %>
      <% if policy(t).show? %>
        <p>Today's tasks for you!</p>
        <li><%= t.name %></li>
      <% else %>
        <p>Create some cleaning area and schedule tasks</p>
      <% end%>
    <% end %>
  </ul>

  <%= month_calendar events: @calendar_tasks do |day, tasks| %>
   <div><%= day.strftime("%d") %></div>
   <% tasks.each do |task| %>
    <% if policy(task).show? %>
      <%= link_to task.name %>
    <% end %>
   <% end %>
  <% end %>
  
  <div id="new-room">
    <% if policy(Room).create? %>
     <%= link_to 'Add Room/Area', new_room_path, remote: true %>
    <% end %>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"><h3>Cleaning Areas</h3></th>
        <th scope="col"><h3>No. of Tasks</h3></th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
        <% if policy(room).show? %>
          <td scope="row"><%= link_to room.name.capitalize, room%></td>
          <td scope="row"><%= room.tasks.count%></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>