<div class="contain">
  <div class="main">
    <p id="notice"><%= notice %></p>
    <h1><%= current_user.name %>'s Schedule</h1>

    <%= month_calendar events: @calendar_tasks do |day, tasks| %>
    <div><%= day.strftime("%d") %></div>
      <% tasks.each do |task| %>
        <%= link_to task.name %>
      <% end %>
    <% end %>
    
    <div id="new-room">
      <% if policy(Room).create? %>
        <%= link_to 'add new', new_room_path, remote: true%>
          <%# <i class="fas fa-plus"></i> %>
        <%# <% end %> 
      <% end %>
    </div>
    <p>Cleaning Areas</p>

    <div class="cards">
      <% @rooms.each do |room| %>
        <div class="card">
          <div class="card-body">
            <% if policy(room).show? %>
              <%= link_to room.name.capitalize, room%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
 
  </div>
  <div>
    <% if @todays_tasks.length > 0 %>
      <h3>Today's to-do</h3>
      <% @todays_tasks.each do |t| %> 
        <ul class="task-list">
          <li><%= t.name %></li>
        </ul>
      <% end %>
    <% else %>
      <p>Create new rooms/areas and schedule tasks</p>
    <% end %>
  </div>
</div>