<div class="container">
  <div class="col">
    <p id="notice"><%= notice %></p>
    <div class="menu"><%= link_to 'Todays Todo-list', root_path %></div>
  </div>

    <div class="col">
      <%= month_calendar events: @calendar_tasks do |day, tasks| %>
        <div><%= day.strftime("%d") %></div>
        <% if tasks.count > 3 %>
          <% tasks.take(3).each do |task| %>
            <div><%= task.name.capitalize  %></div>
          <% end %>
          <p>...</p>
        <% else %>
          <% tasks.each do |task| %>
            <div><%= task.name.capitalize %></div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col">
        <div id="new-room">
          <% if policy(Room).create? %>
            <%= link_to 'Add New +', new_room_path, remote: true %>
          <% end %>
        </div>
        <h3 class="pt-2 pb-2">Cleaning Areas</h3>
          <div class="cards rooms">
            <% @rooms.each do |room| %>
              <% if policy(room).show? %>
                <%= link_to room do %>
                  <div class="card room">
                    <div class="card-body"><%= room.name.capitalize%></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
</div>