<div class="container">

  <p id="notice"><%= notice %></p>

  <h1><%= current_user.name %>'s Schedule</h1>

  <%= month_calendar events: @calendar_tasks do |day, tasks| %>
   <div><%= day.strftime("%d") %></div>
   <% tasks.each do |task| %>
    <%= task.name %>
   <% end %>
  <% end %>
  
  <%= link_to 'New Room', new_room_path %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"><h3>Cleaning Areas</h3></th>
        <th scope="col"><h3>No. of Tasks</h3></th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td scope="row"><%= link_to room.name.capitalize, room%></td>
          <td scope="row"><%= room.tasks.count%></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>