<div class="container">
  <p id="notice"><%= notice %></p>
  <h2><%= @room.name.capitalize %></h2>

  <p>Manage your tasks</p>
  <ul class="list-group">
    <% @room.tasks.each do |task| %>
      <li class="list-group-item">
        <%= link_to task.name, edit_room_task_path(@room, task) %>
        <%= task.number %><%= task.frequency %>
        <%= task.set_cycle(task.number, task.frequency) %>
        <%= link_to 'Delete', room_task_path(@room, task), method: :delete, :data => {:confirm => 'Are you sure?'}%>
      </li>
    <% end %>
  </ul>
  <%= link_to 'New Task', new_room_task_path(@room) %>
  </p>
  <%= link_to 'Edit', edit_room_path(@room) %> |
  <%= link_to 'Back', rooms_path %>
</div>

