<div class="container">
  <p id="notice"><%= notice %></p>
  <h2><%= @room.name.capitalize %></h2>

  <ul class="list-group">
    <% @room.tasks.each do |task| %>
      <li class="list-group-item">
        <%= link_to task.name, edit_room_task_path(@room, task) %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'New Task', new_room_task_path(@room) %>
  </p>
  <%= link_to 'Edit', edit_room_path(@room) %> 
  <%= link_to 'Delete', @room, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', rooms_path %>
</div>
